@charset "UTF-8";

/* Google Fonts Merriweather & Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+JP:wght@100..900&display=swap');

/* カスタムプロパティ */
:root {
    --section-spacing: 196px;
    --default-font-size: 20px;
}

/* COMMON */
html {
    font-family: 'Merriweather', serif;
    color: #333;
    font-size: var(--default-font-size);
    scroll-behavior: smooth;
}

.section_margin {
    margin-top: var(--section-spacing);
}

h1 {
    color: #fff;
    font-size: 128px;
}

h2 {
    color: #fff;
    font-size: 48px;
}

h3 {
    font-size: 128px;
    position: relative;
    z-index: 50;
}

p {
    font-size: var(--default-font-size);
}

.wrapper {
    width: 90vw;
    margin: 0 auto;
    max-width: 1920px;
}

.title {
    opacity: 0;
    visibility: hidden;
    transition: all 1.5s ease;
    transform: translateY(75px);
}

/* プログレスバー */
#bar {
    background-color: #262631;
    position: fixed;
    top: 0;
    left: 0;
    height: 1.5vh;
    z-index: 100;
}

/* TOP */
.firstViewText {
    opacity: 0;
    visibility: hidden;
    transition: all 2s ease;
    transform: translateY(75px);
}

.js-delay {
    transition-delay: .5s;
}

.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#top {
    background-image: url("../img/top.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#top-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

#top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#top .left {
    width: 100%;
}

#top-description {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}

#top .right {
    writing-mode: vertical-rl;
    letter-spacing: 0.1em;
}

#top h1 {
    font-size: 7.8rem;
}

#top h2 {
    margin: 0;
}

#top p {
    color: #fff;
    font-size: 1.2rem;
}

/* DETAIL */
#detail {
    width: 100%;
    height: auto;
}

.product-wrapper {
    margin-top: -48px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 72/35;

    background-color: rgba(255, 255, 255, 0.5);
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
        url("../img/detail_cover.webp");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.product-detail {
    /* width: auto;
    height: 100%; */
    position: absolute;
    inset: 0;

    display: grid;
    gap: 10px;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1.3fr) minmax(0, 1.2fr) minmax(0, 1.3fr) minmax(0, 1.5fr) minmax(0, 1fr) minmax(0, 1.5fr);
    grid-template-rows: minmax(0, .9fr) minmax(0, 2.6fr) minmax(0, 1.5fr) minmax(0, 1.9fr) minmax(0, 1.0fr);
}

/* バイクパーツ　共通 */
#detail .product-detail__box {
    background-color: #fafafa;
    position: relative;
}

#detail .product-detail__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease
}

.text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    padding: 10px 5px;
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
    z-index: 2;
}

.parts-title {
    font-size: 1.2rem;
    margin-bottom: .7rem;
}

.text p {
    font-size: 16px;
    font-family: "Noto Sans JP", serif;
}


/* バイクパーツ　個別 */
.box-big {
    opacity: 0;
}

.box-big-c {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

.box-big-j {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.box-big-k {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

.box-big-q {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.box-big-r {
    grid-column: 5 / 7;
    grid-row: 3 / 6;
}

.box-big-u {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.box-big-w {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
}

.box-big-z {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.use-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.3s ease;
}

/* バイクパーツ　アニメーション */
.use-box:hover::after {
    opacity: 1;
}

.use-box:hover .text {
    opacity: 1;
}

.use-box:hover .text p {
    color: #fff;
}

/* RIDER */
#rider {
    height: 100vh;
}

.pics {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 80vh;
    margin-top: -48px;
}

#pic1 {
    background-image: url(../img/rider0.webp);
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1/3;
}

#pic2 {
    background-image: url(../img/rider1.webp);
    background-size: cover;
    background-position: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

#pic3 {
    background-image: url(../img/rider2.webp);
    background-size: cover;
    background-position: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

#pic4 {
    background-image: url(../img/rider3.webp);
    background-size: cover;
    background-position: center;
    grid-column: 3/4;
    grid-row: 1/3;
}

#rider_name {
    padding: 10% 10% 5% 10%;
    font-size: 48px;
}

#rider_introduce {
    padding: 5% 10%;
    font-size: var(--default-font-size);
    line-height: 1.5rem;
}

/* FOOTER */
#footer {
    position: relative;
    color: #fff;
    background-color: #262631;
    width: 100%;
    height: 103vh;
}

.footer_text_group {
    padding-top: 10vh;
}

#footer_img {
    filter: invert(100%) sepia(9%) saturate(2%) hue-rotate(30deg) brightness(116%) contrast(100%);
    margin-left: 5%;
    width: 128px;
    height: 128px;
}

.footer_content {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    margin: 0 auto;
}

.footer_list {
    display: flex;
    justify-content: center;
    gap: 7vw;
    list-style: none;
    font-size: var(--default-font-size);
}

.footer_list a {
    text-decoration: none;
    color: #fff;
}

.footer_list a:hover {
    color: #262631;
    transition: color .5s;
}

.copy-right {
    margin-top: 10vh;
    text-align: center;
    font-size: var(--default-font-size);
}