@charset "UTF-8";

/* カスタムプロパティ */
:root {
    --section-spacing: 196px;
}

.section_margin {
    margin-top: var(--section-spacing);
}

.wrapper {
    width: 90vw;
    margin: 0 auto;

    /* あとで消す、仮置きの背景色 */
    background-color: blueviolet;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #000;
    font-family: Merriweather;
    font-size: 128px;
}

p {
    color: #000;
    font-family: Merriweather;
    font-size: 20px;
}