@charset "UTF-8";

.swiper-container {
    position: relative;
    height: 80vh;
    margin-top: -48px;
    display: flex;
    justify-content: center;
}

.swiper-wrapper {
    /* wrapperのサイズを調整 */
    width: 100vw;
    height: 75vh;
}

.swiper-slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    background: url(../img/appearance_background.webp) center center / cover no-repeat;
}

.slide-media {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide-media img {
    object-fit: scale-down;
    height: 50%;
    margin-top: 30vh;
}

.image-description {
    position: absolute;
    bottom: 50px;
    right: 5vw;
    font-family: "Merriweather", serif;
    font-size: 20px;
    color: #313131;
}

.swiper-scrollbar {
    width: 90vw !important;
    height: 10px !important;
    left: 5vw !important;
    border-radius: 3px !important;
}

.swiper-scrollbar-drag {
    height: 10px !important;
    border-radius: 3px !important;
}